# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/var/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
